
body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
}

a,
.secondary-text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header,
.footer,
.top {
    background-color: #1F2937;
}

.top,
.header,
.top-content,
.mid1,
.mid2,
.mid3,
.footer {
    display: flex;
}

.content-pic {
    width: 1000px;
}