
body {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 150px;
}

.header,
.footer {
    background-color: #1F2937;
}

.top,
.header,
.top-content,
.mid1,
.mid2,
.mid3,
.footer {
    display: flex;
}

.content-pic {
    width: 1000px;
}