:root {
    --bground: #1F2937;
    --light: #F9FAF8;
    --accent: #3882F6;
    --secondary: #E5E7EB;
    --ff: 'roboto', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    font-family: var(--ff);
    margin: 0;
}

.header,
.footer,
.top {
    background-color: var(--bground);
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}

.top .content,
.mid2 .content,
.mid3 .content {
    margin-top: 130px;
    margin-bottom: 130px;
}


/****** Header ******/

a:hover {
    text-decoration: underline;
}

.header .content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.links {
    display: flex;
    gap: 25px;
}

.logo {
    color: var(--light);
    font-size: 24px;
    font-weight: 800;
}

/****** Top section ******/

.signup-1 {
    background-color: var(--accent);
    border: 3px solid var(--accent);
    color: var(--light);
    width: 140px;
    padding: 5px 20px 5px 20px;
    font-weight: 700;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 18px;
}

.signup-1:hover {
    background-color: var(--bground);
    transition: 0.5s;
}

.top .content img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    display: flex;
    flex: 0 0 1;
}

.top-content-right {
    display: flex;
}

.top .content {
    justify-content: space-between;
    gap: 30px;
}

.top-content-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

.top-main-text {
    color: var(--light);
    font-size: 48px;
    font-weight: 1000;
}

.secondary-text {
    color: var(--secondary);
    text-decoration: none;
    font-size: 18px;
}

/****** Mid section with cards ******/

.link {
    position: relative;
}

.overlay {
    background-color: var(--accent);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 10%;
}

.text {
    color: var(--light);
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.link:hover .overlay {
    opacity: 0.8;
}

.mid1 .content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}

.mid1-main-text {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    margin: 50px;
}

.cards {
    display: flex;
    gap: 10%;
    justify-content: center;
}

.card {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 0;
}

.cover {
    border: 5px solid var(--accent);
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 10%;
    display: block;
}

.card-text {
    font-size: 18px;
    color: #1f2937c5;
}

/****** Mid section with quote ******/

.mid2 {
    background-color: var(--secondary);
}

.mid2 .content {
    flex-direction: column;
    gap: 20px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-name {
    font-size: 30px;
    font-weight: 800;
    text-align: right;
    margin-right: 50px;
}

/****** Mid section with call to action ******/


.mid3 .content {
    background-color: var(--accent);
    padding: 50px;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-left .title {
    color: var(--light);
    font-size: 24px;
    font-weight: 700;
}

.content-right {
    display: flex;
    flex-wrap: nowrap;
}

.signup-2 {
    background-color: var(--accent);
    border: 2px solid var(--light);
    color: var(--light);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px 10px 20px;
    margin-left: 5px;
    width: 140px;
}

.signup-2:hover {
    background-color: var(--light);
    color: var(--accent);
    transition: 0.5s;
}

/****** Footer ******/

.copyright {
    text-align: center;
    padding: 40px;
}